@import '~sass-mq';
@import './variables.scss';

body {
  font-size: 18px;
  background-color: rgb(248, 243, 239);
  color: rgb(52, 52, 52);
  font-family: khula, sans-serif;
  padding: 25px;
  min-height: 1500px
}

.Page {
  max-width: 740px;
  margin: 0 auto;
}

ul.unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0;  
}