// http://devfacts.com/media-queries-breakpoints-2020/
$mq-breakpoints: (
  small: 420px,
  medium: 768px,
  large: 992px,
  xLarge: 1200px,
);

$clrText: rgb(52, 52, 52);
$clrPrimary: rgb(155, 120, 222);