@import '~sass-mq';
@import 'src/styles/variables.scss';

.Work {
  header {
    display: flex;
    margin-bottom: 90px;

    @include mq($until: medium) {
      // display: block;
    }

    .Work-logoMatted {
      align-self: center;
      flex-shrink: 0;
      width: 175px;
      height: auto;
      margin-right: 50px;
    }

    .Work-introWrap {
      flex-grow: 1;

      .Work-intro1 {
        margin-top: 0;
        margin-bottom: 11px;
        font-size: 1.2rem;
      }

      .Work-intro2 {
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
        line-height: 1.1;
      }

      .Work-intro3 {
        margin-top: 15px;
        margin-bottom: 0;
        font-size: 1.2rem;
        line-height: 1.25;
      }
    }
  }

  .Work-portfolio {
    .Work-portfolioItem-tetris {
      .LazyLoadImage {
        // width: 465px;
        // height: 413px;
        width: 420px;
        // max-width: 465px;
        // height: 0;
        // overflow: hidden;
        // background-color: pink;
      }
    }
  }
}